<div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet">
    <div class="footer-block grid__item footer-block--menu">
        <ul class="footer-block__details-content list-unstyled">  
          <li> 
            {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'footer_logo' -%}
              {%- if block.settings.footer_logo != blank -%}
                {%- assign image_size = block.settings.image_width | append: 'x' -%}
                <img
                  srcset= "{{ block.settings.footer_logo | img_url: image_size }}, {{ block.settings.footer_logo | img_url: image_size, scale: 2 }} 2x"
                  src="{{ block.settings.footer_logo | img_url: '400x' }}"
                  alt="{{ block.settings.footer_logo.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.footer_logo.width }}"
                  height="{{ block.settings.footer_logo.height }}"
                  
                 />
            {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              {%- endif -%}
            {%- endcase -%}
          </li>
          <li>
       {{ block.settings.footer_number }}
       </li>
        <li>
          {{ block.settings.footer_email }}
        </li>
        <li>
          {{ block.settings.footer_textarea }}
        </li>
        <li>
            <a
               href="{{ block.settings.facebook }}"
               target="_blank"
               title="facebook"
               ><i class="fab fa-facebook"></i></a>
         </li>
        <li>
            <a
               href="{{ block.settings.twitter }}"
               target="_blank"
               title="facebook"
               ><i class="fab fa-twitter"></i></a>
         </li>
        <li>
            <a
               href="{{ block.settings.instagram }}"
               target="_blank"
               title="facebook"
               ><i class="fab fa-instagram"></i></a>
         </li>
       
    </ul>
    </div>

{% schema %}
{
    "name": "Footer Logo - Quick Info",
    "settings": [
      {
        "type": "image_picker",
        "id": "footer_logo",
        "label": "Footer Logo"
      },
      {
        "type": "range",
        "id": "width",
        "min": 50,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Image width",
        "default": 100
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Image alignment on large screen",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "text",
        "id": "footer_number",
        "default": "555-555-5555",
        "label": "Business Number"
      },
      {
        "type": "text",
        "id": "footer_email",
        "default": "example@domain.com",
        "label": "Business Email"
      },
      {
        "type": "textarea",
        "id": "footer_textarea",
        "default": "Opens on Monday 7am - 5pm",
        "label": "Business Quick Info"
      },
      {
        "type": "url",
        "id": "facebook",
        "label": "Business Facebook"
      },
      {
        "type": "url",
        "id": "twitter",
        "label": "Business Twitter"
      },
      {
        "type": "url",
        "id": "instagram",
        "label": "Business Instagram"
      }
    ]
}      
{% endschema %}